vendor
custom/mu-plugins/mail-options
custom/plugins/w3-total-cache
custom/themes/twentyeleven
custom/themes/twentyfifteen
_mail-options.php
local-config.php
custom/themes/twentysixteen
custom/themes/canvas
custom/uploads
custom/mu-plugins/psycle-pii-scrub
_psycle-pii-scrub.php
custom/plugins/wp-front-end-editor
custom/plugins/theme-my-login
custom/plugins/wp-user-avatar
.idea
custom/themes/hub
custom/plugins/svg-support
custom/plugins/tinymce-advanced
custom/plugins/cookie-notice
custom/plugins/post-expirator
